<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbt.persistent.mapper.UserContactMapper">

	<resultMap id="BaseResultMap" type="UserContact">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="name" property="name" />
		<result column="mobile" property="mobile" />
		<result column="is_delete" property="isDelete" />
		<result column="type" property="type" />
	</resultMap>

	<sql id="Base_Column_List">
		id, create_time, update_time, name, mobile, is_delete, type 
	</sql>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="UserContact" useGeneratedKeys="true" keyProperty="id">
		insert into user_contact (
			create_time,
			update_time,
			name,
			mobile,
			is_delete,
			type
		)
		values (
			#{createTime}, 
			#{updateTime}, 
			#{name}, 
			#{mobile}, 
			#{isDelete},
			#{type}
		)
	</insert>



	<!-- 根据主键查询用户 -->
	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_contact
		where id = #{id}
	</select>

	<!-- 根据主键查询用户 -->
	<select id="findByMobile" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_contact
		where mobile = #{mobile} 
	</select>
	
	<update id="updateById" parameterType="UserContact">
		update user_contact 
		<set>
			<if test="updateTime != null">
				update_time = now(),
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="deleteByMobile">
		update user_contact set is_delete = #{isDelete},update_time = now() where mobile = #{mobile}
	</update>
	
	<select id="findByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_contact 
		<where>
			<if test="condition.name != null and condition.name != ''">
				and name like concat('%',#{condition.name},'%') 
			</if>
			<if test="condition.mobile != null and condition.mobile != ''">
				and mobile like concat('%',#{condition.mobile},'%') 
			</if>
			<if test="condition.isDelete != null">
				and is_delete = #{condition.isDelete} 
			</if>
			<if test="condition.type != null">
				and type = #{condition.type} 
			</if>
		</where>
		<choose>
			<when test="orderByColumn != null and orderByType != null">
				ORDER BY ${orderByColumn} ${orderByType}
			</when>
			<otherwise>
				ORDER BY create_time desc 
			</otherwise>
		</choose>
	</select>
	
	<delete id="removeByMobile">
		delete from user_contact where mobile = #{mobile}
	</delete>
	
</mapper>