<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbt.persistent.mapper.UserPackageTicketMapper">

	<resultMap id="BaseResultMap" type="UserPackageTicket">
		<id column="id" property="id" />
		<result column="package_id" property="packageId" />
		<result column="order_detail_id" property="orderDetailId" />
		<result column="ticket_price" property="ticketPrice" />
		<result column="ticket_name" property="ticketName" />
		<result column="quantity" property="quantity" />
		<result column="used_quantity" property="usedQuantity" />
		<result column="use_limit" property="useLimit" />
		<result column="use_status" property="useStatus" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, package_id, order_detail_id, ticket_price, ticket_name, quantity, used_quantity, use_limit, use_status,
		create_time, update_time
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM user_package_ticket 
		WHERE id = #{id}
	</select>
	
	<insert id="insert" parameterType="UserPackageTicket" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO user_package_ticket (
			package_id, order_detail_id, ticket_price, ticket_name, quantity, used_quantity, use_limit, use_status, 
			create_time, update_time
		)
		VALUES (
			#{packageId},
			#{orderDetailId},
			#{ticketPrice},
			#{ticketName}, 
			#{quantity}, 
			#{usedQuantity},
			#{useLimit}, 
			#{useStatus}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<update id="updateById" parameterType="UserPackageTicket">
		UPDATE user_package_ticket 
		<set>
			<if test="packageId != null">
				package_id = #{packageId},
			</if>
			<if test="orderDetailId != null">
				order_detail_id = #{orderDetailId},
			</if>
			<if test="ticketPrice != null">
				ticket_price = #{ticketPrice},
			</if>
			<if test="ticketName != null">
				ticket_name = #{ticketName},
			</if>
			<if test="quantity != null">
				quantity = #{quantity},
			</if>
			<if test="usedQuantity != null and quantity>=usedQuantity">
				used_quantity = #{usedQuantity},
			</if>
			<if test="useLimit != null">
				use_limit = #{useLimit},
			</if>
			<if test="useStatus != null and usedQuantity==quantity">
				use_status = #{useStatus},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="findByPage" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM user_package_ticket
		<where>
			<if test="condition.packageId != null and condition.packageId != ''">
				AND package_id = #{condition.packageId} 
			</if>
			<if test="condition.orderDetailId != null and condition.orderDetailId != ''">
				AND order_detail_id = #{condition.orderDetailId} 
			</if>
			<if test="condition.ticketName != null and condition.ticketName != ''">
				AND ticket_name LIKE CONCAT('%',#{condition.ticketName},'%') 
			</if>
			<if test="condition.useStatus != null">
				AND use_status = #{condition.useStatus} 
			</if>			
		</where>
		<choose>
			<otherwise>
				ORDER BY create_time desc 
			</otherwise>
		</choose> 		
	</select>
	
	<select id="findTicketsForOrderDetail" resultMap="BaseResultMap">
		select upt.* from user_package_ticket upt, user_activity_package uap, user_activity_order_detail uaod WHERE
		upt.order_detail_id = uap.order_detail_id and uaod.id = uap.order_detail_id and uaod.user_id = uap.user_id
		and uap.id = upt.package_id and upt.order_detail_id = uaod.id
		AND upt.order_detail_id = #{orderDetailId} 
		<choose>
			<otherwise>
				ORDER BY upt.create_time desc 
			</otherwise>
		</choose> 		
	</select>
	
	<select id="findAvailableTicketByUserId" resultMap="UserPackageTicketMap">
		SELECT
		u2.*,
		u1.user_id,
		u1.expiration_time,
		u1.activate_time,
		u5.effective_day
		FROM
		user_activity_order_detail u1,
		user_package_ticket u2,
		user_activity_order u3,
		user_activity_package u4,
		ticket_package_activity u5
		WHERE
		u1.user_id = #{userId}
		AND u1.id=u2.order_detail_id
		AND u1.order_id=u3.id
		AND u4.order_detail_id=u1.id
		AND u2.package_id=u4.id
		AND u4.order_id=u3.id
		AND u1.order_id=u4.order_id
		AND u3.activity_id=u5.id
		AND u1.user_id=u4.user_id
		AND u1.user_id=u3.user_id
        AND u4.user_id=u3.user_id
		AND u3.status=1
		AND u3.pay_status=1
		AND u1.active_status=1
		AND u4.status=1
		AND u2.use_status = 0
		AND u1.expiration_time > #{sysdatetime}
		order by u1.expiration_time
	</select>

	<select id="findDisableTicketByUserId" resultMap="UserPackageTicketMap">
		SELECT
		u2.*,
		u1.user_id,
		u1.expiration_time,
		u1.activate_time,
		u5.effective_day
		FROM
		user_activity_order_detail u1,
		user_package_ticket u2,
		user_activity_order u3,
		user_activity_package u4,
		ticket_package_activity u5
		WHERE
		u1.user_id = #{userId}
		AND u1.id=u2.order_detail_id
		AND u1.order_id=u3.id
		AND u4.order_detail_id=u1.id
		AND u2.package_id=u4.id
		AND u4.order_id=u3.id
		AND u1.order_id=u4.order_id
		AND u3.activity_id=u5.id
		AND u1.user_id=u4.user_id
		AND u1.user_id=u3.user_id
        AND u4.user_id=u3.user_id
		AND u3.status=1
		AND u3.pay_status=1
		AND u1.active_status=1
		AND u4.status=1
		AND (u2.use_status = 1
		OR u1.expiration_time <![CDATA[ < ]]>
		#{sysdatetime})
		order by u1.expiration_time
	</select>

	<resultMap type="com.qbt.persistent.entity.UserPackageTicket"
		id="UserPackageTicketMap">
		<id column="id" property="id" />
		<result column="package_id" property="packageId" />
		<result column="order_detail_id" property="orderDetailId" />
		<result column="ticket_price" property="ticketPrice" />
		<result column="ticket_name" property="ticketName" />
		<result column="quantity" property="quantity" />
		<result column="used_quantity" property="usedQuantity" />
		<result column="use_limit" property="useLimit" />
		<result column="use_status" property="useStatus" />
		<result column="user_id" property="userId" />
		<result column="expiration_time" property="expirationTime" />
		<result column="effective_day" property="effectiveDay" />
		<result column="activate_time" property="activateTime" />
	</resultMap>

	<select id="findByPackageId" parameterType="java.lang.Integer"
		resultMap="UserPackageInfoMap">
		SELECT
		u3.id,
		u2.activity_name,
		u1.expiration_time,
		u4.effective_day,
		u1.activate_time,
		u1.activate_user,
		u1.activate_phone_number,
		u1.code,
		u1.code_status,
		u1.status,
		u1.active_status,
		u5.price
		FROM
		user_activity_order_detail u1,
		user_activity_order
		u2,
		user_activity_package u3,
		ticket_package_activity u4,
		ticket_package_rule u5
		WHERE
		u1.order_id = u2.id
        AND u3.order_id=u2.id
        AND u1.order_id=u3.order_id
        AND u1.id = u3.order_detail_id
        AND u1.user_id=u2.user_id
        AND u1.user_id=u3.user_id
        AND u2.user_id=u3.user_id
        AND u2.activity_id = u4.id
        AND u4.rule_id=u5.id
		AND u3.id= #{packageId}
	</select>

	<select id="findTicketsByPackageId" resultMap="UserPackageTicketMap">
		select * from
		user_package_ticket where package_id= #{packageId}
	</select>

	<resultMap type="com.qbt.persistent.entity.ActivityTicketPackage"
		id="UserPackageInfoMap">
		<id column="id" property="id" />
		<result column="activity_name" property="activityName" />
		<result column="expiration_time" property="expirationTime" />
		<result column="effective_day" property="effectiveDay" />
		<result column="activate_time" property="activateTime" />
		<result column="activate_user" property="activateUser" />
		<result column="activate_phone_number" property="activatePhoneNumber" />
		<result column="code" property="code" />
		<result column="code_status" property="codeStatus" />
		<result column="status" property="status" />
		<result column="active_status" property="activeStatus" />
		<result column="price" property="price" />

		<collection property="tickets" column="id"
			select="com.qbt.persistent.mapper.UserPackageTicketMapper.findTicketsByPackageId">
		</collection>
	</resultMap>
	
	<select id="checkPackageIsUsed" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	   SELECT
	   count(*)
       FROM
	   user_activity_package u1,
	   user_package_ticket u2
       WHERE
	   u1.id = u2.package_id
       AND u2.use_status = 0
       AND u1.id = #{packageId}
	</select>
		
</mapper>