.my-voucher {
  .weui_tab {
    background-color: #f3f3f3;
    .weui_media_hd.voucher-property {
      width: 100px;
      height: auto;
      //background-color: #15ca5f;
      color: #fff;
      font-size: 14px;
      background-image: url('/img/1.png');
      >p:first-of-type {
        margin-top: 30px;
        line-height: 22px;
        font-size: 22px;
      }
      >p:last-of-type {
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
    .weui_media_bd {
      overflow: hidden;
      .weui_media_title.voucher-name {
        font-size: 16px;
      }
      .weui_media_desc.voucher-time {
        font-size: 15px;
        line-height: 20px;
      }
      .weui_media_desc.voucher-count {
        font-size: 14px;
        margin-top: 15px;
        .weui_icon_warn::before {
          font-size: 18px;
          color:#a9a9a9;   
        }
      }
    }
    // 未使用
    .voucher-use {
      width: 70px;
      height: 30px;
      box-sizing: border-box;
      border: 2px solid #15ca5f;
      border-radius: 30px;
      color: #15ca5f;
      text-align: center;
      line-height: 28px;
    }
    // 已使用
    .voucher-used {
      width: 65px;
      height: 65px;
    }
  }
}