<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbt.persistent.mapper.BaseWeixinReplyMapper">

	<resultMap id="BaseResultMap" type="BaseWeixinReply">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="type" property="type" />
		<result column="keyword" property="keyword" />
		<result column="content" property="content" />
		<result column="status" property="status" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, create_time, type, keyword, content, status
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from base_weixin_reply
		where id = #{id}
	</select>
	
	<insert id="insert" parameterType="BaseWeixinReply" keyProperty="id" useGeneratedKeys="true">
		insert into base_weixin_reply (
			create_time, 
			type,
			keyword, 
			content, 
			status
		)
		values (
			#{createTime},
			#{type},
			#{keyword}, 
			#{content}, 
			#{status}
		)
	</insert>
	
	<update id="updateById" parameterType="BaseWeixinReply">
		update base_weixin_reply
		<set>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="keyword != null">
				keyword = #{keyword},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from base_weixin_reply where id = #{id} 
	</delete>
	
	<select id="findByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_weixin_reply 
		<where>
			<if test="condition.type != null and condition.type > 0">
				and type = #{condition.type} 
			</if>
			<if test="condition.status != null and condition.status > 0">
				and status = #{condition.status} 
			</if>
			<if test="condition.keyword != null and condition.keyword != ''">
				and keyword = #{condition.keyword} 
			</if>
		</where>
		order by id desc 
	</select>
	
	<select id="findByKeyWord" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_weixin_reply where keyword=#{keyword} and status = 1 order by id desc limit 1
	</select>
	
</mapper>