<template id="agent_send">
    <div class="page" style="padding-bottom:100px;">
        <tel-contact></tel-contact>
        <div class="weui-cells" style="margin-top:0;position: relative;">
            <div class="weui-cell weui-cell_access" style="padding:30px 15px;" @click="goAddr(true)">
                <!--   <span style="display: block;position: absolute;left:0;width: 66px;height:1px;background:#ffffff;top:0;"></span> -->
                <div class="weui-cell__hd">
                    <img src="/img/send_v3.png" style="width: 40px;display: block;margin-right: 10px;">
                </div>
                <div class="weui-cell__bd">
                    <p>
                    <div class="weui-label" style="display:inline-block;">{{send_addr.name}}</div>
                    {{send_addr.mobile}}</p>
                    <p class="font14" v-if="send_addr.tabStyle==1">{{send_addr.treePath}}</p>
                    <p class="font14">
                        <span v-if="send_addr.tabStyle==1">{{send_addr.address ? send_addr.address : '物品从哪里寄出'}}</span>
                        <span v-if="send_addr.tabStyle!=1">{{send_addr.siteName ? send_addr.siteName : '物品从哪里寄出'}}</span><span
                            v-if="send_addr.isOutRange"
                            style="background: #15c95f;border-radius: 5px;padding: 2px 5px;color: #ffffff">偏</span>
                    </p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </div>
            <div class="weui-cell weui-cell_access" style="padding:30px 15px;" @click="goAddr(false)">
                <span style="display: block;position: absolute;left:0;width: 66px;height:2px;background:#ffffff;top:-1px;"></span>
                <div class="weui-cell__hd">
                    <img src="/img/send1_v3.png" style="width: 40px;display: block;margin-right: 10px;">
                </div>
                <div class="weui-cell__bd">
                    <p>
                    <div class="weui-label" style="display:inline-block;">{{collect_addr.name}}</div>
                    {{collect_addr.mobile}}</p>
                    <p class="font14" v-if="collect_addr.tabStyle==1">{{collect_addr.treePath}}</p>
                    <p class="font14">
                        <span v-if="collect_addr.tabStyle==1">{{collect_addr.address ? collect_addr.address : '物品送到哪里去'}}</span>
                        <span v-if="collect_addr.tabStyle!=1">{{collect_addr.siteName ? collect_addr.siteName : '物品送到哪里去'}}</span><span
                            v-if="collect_addr.isOutRange"
                            style="background: #15c95f;border-radius: 5px;padding: 2px 5px;color: #ffffff">偏</span>
                    </p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </div>
            <div @click="change()" class="weui-weixin-img"
                 style="display:inline-block;text-align:center;position: absolute;top:38%;left:12px;padding:10px">
                <img class="weixin" width="25" src="/img/exchange.png"/>
            </div>
        </div>
        <div class="weui-cells">
            <popup-picker :value-text-align="'center'" :title="title1" :data="timeList" v-model="timeValue"
                          :columns=2></popup-picker>
            <div class="weui-cell weui-cell_access" @click="showDeliverPop()">
                <div class="weui-cell__hd ">
                    送达时间
                </div>
                <div class="weui-cell__bd" style="text-align:right;padding-right:15px;">
          <span v-if="expect_selected.deliver_time">
            {{expect_selected.business_type==2?expect_selected.describe:expect_selected.deliver_time.split(',')[1]}} {{amount_yf -amount_py| currency('￥')}}
          </span>
                </div>
                <div class="weui-cell__ft">
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd ">
                    开球时间
                </div>
                <div class="weui-cell__bd" style="text-align:right;padding-right:15px;">
                </div>
                <!--  <div class="weui-cell__ft">
                 </div> -->
                <datetime class="data_time" :confirm-text="'确定'" :cancel-text="'取消'" :start-date=start_date
                          clear-text="清空" @on-clear="clearLimit" v-model="limitHourValue"
                          format="YYYY-MM-DD HH"></datetime>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd ">
                    球包数量
                </div>
                <div class="weui-cell__bd homeicon" style="text-align:right;">
                    <div @click="quantity >1 ? quantity--: quantity =1"
                         style="display: inline-block; padding-left:15px">
                        <i class="icon_mul"></i>
                    </div>
                    <input type="number" class="money-in tex-c" v-model.number="quantity" style="margin:0 10px;"/>
                    <div @click="quantity < 99 ? quantity++: quantity = 99"
                         style="display: inline-block; padding-right:15px">
                        <i class="icon_add"></i>
                    </div>
                    <div style="width: 32px;display: inline-block">&nbsp;</div>
                </div>
                <div class="weui-cell__ft">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd ">
                    保价金额
                    <!--<span style="font-weight: normal;">-->
                    <!--{{money==0?'':money+'(万元)'}}-->
                    <!--</span>-->
                </div>
                <div class="weui-cell__bd homeicon" style="text-align:right;">
                    <!--保价费{{pop_insure_money | currency('￥',0)}} /包-->
                    <div @click="pop_insure_input >0 ? pop_insure_input--: pop_insure_input =0"
                         style="display: inline-block; padding-left:15px">
                        <i class="icon_mul"></i>
                    </div>
                    <input type="number" class="money-in tex-c" v-model.number="pop_insure_input"
                           style="margin:0 10px;"/>
                    <div @click="pop_insure_input <= 30 ? pop_insure_input++: pop_insure_input = 30"
                         style="display: inline-block; padding-right:15px">
                        <i class="icon_add"></i>
                    </div>
                    <div style="width: 32px;display: inline-block">万元</div>
                    <!--<span></span>-->
                </div>
                <div class="weui-cell__ft">
                </div>
            </div>
            <!--<div class="weui-cell weui-cell_access" @click="showBagNum">-->
            <!--<div class="weui-cell__hd ">-->
            <!--球包数量-->
            <!--</div>-->
            <!--<div class="weui-cell__bd" style="text-align:right;padding-right:15px;">-->
            <!--{{quantity}} (包)-->
            <!--</div>-->
            <!--<div class="weui-cell__ft">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="weui-cell weui-cell_access" @click="_showInsure">-->
            <!--<div class="weui-cell__hd ">-->
            <!--保价金额-->
            <!--<span style="font-weight: normal;">-->
            <!--{{money==0?'':money+'(万元)'}}-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="weui-cell__bd" style="text-align:right;padding-right:15px;">-->
            <!--保价费{{pop_insure_money | currency('￥',0)}} /包-->
            <!--</div>-->
            <!--<div class="weui-cell__ft">-->
            <!--</div>-->
            <!--</div>-->
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" maxlength="50" v-model="pop_remark" type="text" required
                           placeholder="请输入球包主人的名字">
                </div>
                <div class="weui-cell__ft" v-show="requiredRemark">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
        </div>

        <footer class="footer footer-ios" style="height: auto">
            <div class="weui-flex" style="min-height: 25px;border-bottom: 1px solid #dadada">
                <div class="weui-flex__item"
                     style="line-height: 1.5;text-align: center;font-size: 12px;font-weight: bold;color: #708193;padding: 2px">
                    付款即代表同意<a href="javascript:;" @click="goView('/agreement')">《球包通服务协议》</a>、<a href="javascript:;"
                                                                                                 @click="goView('/care')">《寄球包注意事项》</a>。
                </div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item" @click="showAmountDetails = true" style="text-align:left;padding-left:5px">
                    <p style="line-height:20px;color:#999;margin-top:5px;">合计:&nbsp;<s>{{(amount_op+pop_insure_money_org)*quantity
                        | currency('￥')}}</s></p>
                    <p style="line-height:20px;margin-top:5px;font-size:20px;color:#E9573E;">{{totalAmt |
                        currency('￥')}}</p>
                </div>
                <div class="weui-flex__item" @click="showAmountDetails = true">
                    <div class="money-detail">查看明细</div>
                </div>
                <div class="weui-flex__item footer-confirm" @click="save()">
                    确认下单
                </div>
            </div>
        </footer>
        <popup v-model="showNum" @on-show="compatible_ios_show()" @on-hide="compatible_ios_hide()">
            <div style="padding: 20px;" class="bg-f">
                <h3 style="text-align:center;">球包数量</h3>
                <div class="weui-flex" style="text-align:center;margin-top:10px;">
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == 1}"
                         @click="pop_num = 1">1包
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == 2}"
                         @click="pop_num = 2">2包
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == 3}"
                         @click="pop_num = 3">3包
                    </div>
                </div>
                <div class="weui-flex" style="text-align:center;margin-top:10px;">
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == 4}"
                         @click="pop_num = 4">4包
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == 5}"
                         @click="pop_num = 5">5包
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_num == -1}" @click="callCust">
                        其它
                    </div>
                </div>
                <div class="weui-flex" style="margin-top:10px;">
                    <p style="color: #f297a0"> 温馨提示：如球包数量超过5包，请点击“其他”联系客服下单。</p>
                </div>
                <div class="weui-flex" style="margin-top:10px;">
                    <!--<div class="weui-flex__item"><input style="height: 32px" maxlength="50" class="weui-input send-input" placeholder="请输入球包主人的名字" v-model="pop_remark"></div>-->
                </div>
            </div>
            <div class="weui-flex footer" style="position:relative;">
                <div class="weui-flex__item footer-cancel">
                    <p @click="showNum = false">返回</p>
                </div>
                <div class="weui-flex__item footer-confirm" @click="confirmNum()">
                    <p>确定</p>
                </div>
            </div>
        </popup>
        <popup v-model="showInsure" @on-show="compatible_ios_show()" @on-hide="_compatible_ios_hide()">
            <div style="padding: 20px;" class="bg-f">
                <h3 style="text-align:center;">保价金额</h3>
                <div class="weui-flex" style="text-align:center;margin-top:10px;">
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 0}"
                         @click="pop_insure = 0">不保价
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 1}"
                         @click="pop_insure = 1">1万
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 2}"
                         @click="pop_insure = 2">2万
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 3}"
                         @click="pop_insure = 3">3万
                    </div>
                </div>
                <div class="weui-flex" style="text-align:center;margin-top:10px;">
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 4}"
                         @click="pop_insure = 4">4万
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 5}"
                         @click="pop_insure = 5">5万
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == 6}"
                         @click="pop_insure = 6">6万
                    </div>
                    <div class="weui-flex__item send-nums" :class="{'send-nums-on' : pop_insure == -1}"
                         @click="pop_insure = -1;pop_insure_input = '';pop_insure_money = 0;pop_insure_money_org = 0">其它
                    </div>
                </div>
                <div class="weui-flex" style="margin-top:10px;" v-show="pop_insure == -1">
                    <div class="weui-flex__item" style="position:relative;">
                        <!--<input style="height: 32px" type="number" id="pop_insure_input" class="weui-input send-input" placeholder="请输入球包保价额" v-model="pop_insure_input">-->
                        <span style="position:absolute;right:0;top:0;line-height:32px;">万</span>
                    </div>
                </div>
                <p style="margin-top:10px;">保价费用：{{pop_insure_money | currency('￥')}}&nbsp;&nbsp;&nbsp;&nbsp;<s
                        style="color: #9b9b9c">{{pop_insure_money_org+".00"}}</s></p>
            </div>
            <div class="weui-flex footer" style="position:relative;">
                <div class="weui-flex__item footer-cancel">
                    <p @click="showInsure = false;">返回</p>
                </div>
                <div class="weui-flex__item footer-confirm" @click="confirmInsure()">
                    <p>确定</p>
                </div>
            </div>
        </popup>
        <popup v-model="showDeliver" @on-show="compatible_ios_show()" @on-hide="compatible_ios_hide()">
            <div style="padding: 10px 10px 20px 10px;" class="bg-f">
                <h3 style="text-align:center;padding:10px 0">送达时间</h3>
                <div class="weui-flex chang_a" style="margin-top:15px;font-size:16px;display: -webkit-box;"
                     v-for="item in expect_times_show">
                    <div class="weui-flex__item" style="width: 60%">
                        <span :style="{color:item.business_type==1?'#7fe2a8':item.business_type==2?'#ff9600':item.business_type==3?'#E8393C':''}">【{{item.business_type==1?'快件':item.business_type==2?'慢件':item.business_type==3?'加急':''}}】&nbsp;</span>{{item.business_type==2?item.describe:item.deliver_time.split(',')[1]}}
                        <p v-if="item.business_type==2" style="padding-left:5px;color: #0510ef;font-size:13px">
                            温馨提示:慢件可能影响送达时间</p>
                        <p v-if="item.business_type==3" style="padding-left:5px;color: #0510ef;font-size:13px">
                            温馨提示:收到取件成功微信推送通知的24小时内送达
                        </p>
                    </div>
                    <div class="weui-flex__item" style="text-align:right;" @click="checkDeliver(item)">
                        {{item.sf_price -item.out_range_price| currency('￥') }}/包<span class="circle_v3"
                                                                                       :class="{'circle_v3_hover': item.checked}"
                                                                                       style="margin-left:15px;"></span>
                        <p v-if="item.origin_price>item.sf_price" style="color: #999999;padding-right: 30px"><s>{{(item.origin_price-item.out_range_price)+".00"}}</s>
                        </p>
                    </div>
                </div>
                <div v-if="!showUrgent" class="weui-flex chang_a"
                     style="margin-top:15px;font-size:16px;display: -webkit-box;">
                    <div class="weui-flex__item">
                        <span style="color: #E8393C;">【加急】&nbsp;</span><a href="tel:400-609-0990"
                                                                          style="display: inline-block;color: #E8393C;padding: 0 17px;border: 1px solid #E8393C;border-radius: 7px;"><span>请联系客服</span></a>
                        <!--<p v-if="item.business_type==2" style="padding-left:5px;color: #0510ef;font-size:13px">温馨提示:陆运可能影响送达时间</p>-->
                    </div>
                </div>
            </div>
            <div class="weui-flex footer" style="position:relative;">
                <div class="weui-flex__item footer-cancel">
                    <p @click="showDeliver = false">返回</p>
                </div>
                <div class="weui-flex__item footer-confirm" @click="confirmDeliver()">
                    <p>确定</p>
                </div>
            </div>
        </popup>
        <popup v-model="showAmountDetails" @on-show="compatible_ios_show()" @on-hide="compatible_ios_hide()">
            <div style="padding: 10px;margin-bottom:50px" class="bg-f">
                <div v-if="amount_yf > 0" style="margin-top:5px;">
                    <div class="weui-flex">
                        <div class="weui-flex__item"><span style="">运费</span></div>
                        <div class="weui-flex__item weui-flex">
                            <span class="weui-flex__item" style="color:#E9573E;text-align: right">{{quantity*(amount_yf-amount_py) | currency('￥')}}</span>
                            <span class="weui-flex__item" style="color:#999;margin-left: 20px"><s>{{quantity*(amount_op-amount_py)}}</s></span>
                        </div>
                    </div>
                </div>
                <div v-if="amount_bj > 0" style="margin-top:5px;">
                    <div class="weui-flex">
                        <div class="weui-flex__item"><span style="">保价费</span></div>
                        <div class="weui-flex__item weui-flex">
                            <span class="weui-flex__item" style="color:#E9573E;text-align: right">{{quantity*amount_bj | currency('￥')}}</span>
                            <span class="weui-flex__item" style="color:#999;margin-left: 20px"><s>{{quantity*pop_insure_money_org}}</s></span>
                        </div>
                    </div>
                </div>
                <div v-if="amount_py > 0" style="margin-top:5px;">
                    <div class="weui-flex">
                        <div class="weui-flex__item"><span style="">偏远费</span></div>
                        <div class="weui-flex__item weui-flex">
                            <span class="weui-flex__item" style="color:#E9573E;text-align: right">{{quantity*amount_py | currency('￥')}}</span>
                            <span class="weui-flex__item"></span>
                        </div>
                    </div>
                </div>
                <!--<div v-if="amount_dis > 0" style="margin-top:5px;">-->
                    <!--<div class="weui-flex">-->
                        <!--<div class="weui-flex__item"><span style="">优惠金额</span></div>-->
                        <!--<div class="weui-flex__item  weui-flex">-->
                            <!--<span class="weui-flex__item" style="color:#E9573E;text-align: right">{{'-￥'+amount_dis}}</span>-->
                            <!--<span class="weui-flex__item"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
            <div class="weui-flex footer" @click="showAmountDetails = false">
                <!--<div v-if="!isVip" class="weui-flex__item" style="padding-left:10px;text-align:left;">-->
                <!--<p style="line-height:20px;margin-top:5px;">-->
                <!--<a style="color:#15ca5f;text-decoration:underline;" href="javascript:;" @click="goVip">成为会员,</a>-->
                <!--</p>-->
                <!--<p style="line-height:20px;color:#999;">可享受运费50元</p>-->
                <!--</div>-->
                <div  class="weui-flex__item" style="text-align:left;padding-left:5px">
                    <p style="line-height:20px;color:#999;margin-top:5px;">合计:&nbsp;<s>{{(amount_op+pop_insure_money_org)*quantity
                        | currency('￥')}}</s></p>
                    <p style="line-height:20px;margin-top:5px;font-size:20px;color:#E9573E;">{{totalAmt |
                        currency('￥')}}</p>
                </div>
                <div class="weui-flex__item" >

                    <div class="money-detail-down">查看明细</div>
                </div>
                <div class="weui-flex__item footer-confirm" @click="save()">
                    确认下单
                </div>
            </div>
        </popup>
    </div>
</template>
