<template id="order-voucher">
    <section class="section bg">
        <!--头-->
        <div class="header tex-c bg-white">
          <a href="javascript:;" class="back" @click="goBack()"><img src="/img/back.png" /></a>
          我的代金券
        </div>
        <!-- 导航栏 -->
        <div class="scroll marhead">
            <div class="navbar my-voucher scroll mar-t0">
                <div class="bd" style="height: 100%;">
                    <div class="weui_tab">
                        <div class="weui_navbar bg-white"  style="position:static;">
                            <div class="weui_navbar_item" :class="{'weui_bar_item_on':voucher_tab == 1}" @click="toggleTab(1)">
                                可使用代金券
                            </div>
                            <div class="weui_navbar_item" :class="{'weui_bar_item_on':voucher_tab == 2}" @click="toggleTab(2)">
                                不可使用代金券
                            </div>
                        </div>
                        <div class="weui_panel_bd">
                            <!-- 可使用代金券 -->
                            <div v-show="voucher_tab == 1">
                                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" style="padding:15px 15px 15px 6px">
                                    <div class="weui_media_hd voucher-property">
                                        <p>￥60</p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="weui_media_bd" style="position:relative;">
                                        <h4 class="weui_media_title voucher-name">球包通通用券</h4>
                                        <p class="weui_media_desc voucher-time">2017.10.18-2017.12.18</p>
                                        <p class="weui_media_desc voucher-count"><i class="weui_icon_warn"></i>数量50张，每单限用1张</p>
                                    </div>
                                    <div class="voucher-use">立即使用</div>
                                </a>
                            </div>
                            <!-- 不可使用代金券 -->
                            <div v-show="voucher_tab == 2">
                                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" style="padding:15px 15px 15px 6px">
                                    <div class="weui_media_hd voucher-property">
                                        <p>￥60</p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="weui_media_bd">
                                        <h4 class="weui_media_title voucher-name">球包通通用券</h4>
                                        <p class="weui_media_desc voucher-time">2017.10.18-2017.12.18</p>
                                        <p class="weui_media_desc voucher-count"><i class="weui_icon_warn"></i>数量50张，每单限用1张</p>
                                    </div>
                                    <div class="voucher-used">
                                        <img src="/img/quan-icon02.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>