<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="updatePasswordCtrl">
	<div class="container containerWidthAuto">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="form-group">
					<label>原密码：</label>
					<input ng-model="orginPassword" type="password" class="form-control" placeholder="输入原密码">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="form-group">
					<label>新密码：</label>
					<input ng-model="newPassword" type="password" class="form-control" placeholder="输入新密码">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="form-group">
					<label>确认密码：</label>
					<input ng-model="surePassword" type="password" class="form-control" placeholder="输入确认密码">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="form-group text-center">
					<button type="button" class="btn btn-primary" ng-click="submitPassword()">提交</button>
				</div>
			</div>
		</div>

<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="{{{/js/RSA.js}}}"></script>
<script src="{{{/js/app.js}}}"></script>
<script src="{{{/js/updatePasswordCtrl.js}}}"></script>
</body>
</html>
