<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="/assets/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="vipInfoCtrl">
<div class="container containerWidthAuto">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5">
                <label style="width:86px;">会员卡号：</label>
                <input type="text" ng-model="vipNo" class="form-control" placeholder="输入会员卡号">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5">
                <label>用户名：</label>
                <input type="text" ng-model="userName" class="form-control" placeholder="输入用户名">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5">
                <label>会员卡类型：</label>
                <select style="min-width:196px;" class="form-control" ng-model="vipTypeId">
                    <option value="">全部</option>
                    <option ng-repeat="vipType in vipTypes" value="{{vipType.id}}">{{vipType.name}}</option>
                </select>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5">
                <label style="width:86px;">昵称：</label>
                <input type="text" ng-model="nickname" class="form-control" placeholder="输入昵称">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5">
                <label>手机号：</label>
                <input type="text" ng-model="mobile" class="form-control" placeholder="输入手机号">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline marginRight5 pull-right">
                <button id="search" class="btn btn-primary" ng-click="getList()">搜索</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>会员卡号</th>
                    <th>会员卡类型</th>
                    <th>下单金额</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>手机号</th>
                    <th>有效期</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list track by $index">
                        <td><a href="javascript:void(0)" ng-click="updateVipInfo(item.id)">{{item.vipNo}}</a></td>
                        <td>{{item.name}}</td>
                        <td>{{item.orderAmount | number : 2}}</td>
                        <td><a href="javascript:void(0)" ng-click="isWeixin(item.mobile,item.vipNo)">{{item.userName}}</a></td>
                        <td><a href="javascript:void(0)" ng-click="userDetail(item.userId)">{{item.nickname}}</a></td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.validTime | date : 'yyyy-MM-dd'}}</td>
                        <td>{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <label class="label" ng-class="{'label-success':item.status == 1,'label-default':item.status == 2}">{{item.status == 1 ? '启用' : '禁用'}}</label>
                        </td>
                        <td>
                            <button class="btn btn-sm" ng-class="{'btn-danger':item.status == 1,'btn-success':item.status == 2}" ng-click="vipDisabled(item.id,item.status)">
                                {{item.status == 1 ? '禁用' : '启用'}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination page="page" change="getList(page)"></pagination>
        </div>
    </div>
</div>

<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="{{{/js/app.js}}}"></script>
<script src="{{{/js/vipInfoCtrl.js}}}"></script>
</body>
</html>
