<template id="coupon">
<section class="page">
	<tel-contact></tel-contact>
    <div class="weui-tab">
      	<tab bar-active-color="#15ca5f" active-color="#15ca5f">
            <tab-item :selected="tab==1" @on-item-click="tab = 1"> 电子优惠券({{coupons.filter(function(m){return m.status==1}).length}})</tab-item>
            <tab-item :selected="tab==2" @on-item-click="tab = 2">纸质优惠券</tab-item>
        </tab>
        <div class="weui-tab__panel">
			<section v-show="tab == 1">
				<div class="weui-flex bg-f" @click.stop="selectCoupon(index)" style="margin:15px;" v-for="(item, index) in coupons">
					<div class="coupon-left" :class="{'coupon-left-not':3 == item.status}">
						<span style="font-size:22px;">￥</span>{{item.chlidAmount}}
					</div>
					<div class="weui-flex__item" style="padding:5px 0 5px 15px;">
						<span style="background-color:#F9A49E;color:#fff;padding:2px;" :style="{'background-color':3 == item.status?'#A8A8A8':'#F9A49E'}">优惠券</span>
						<p :style="{'color':3 == item.status?'#A7A7A7':'inherit'}">各大球场的任意订单都可以使用</p>
						<p :style="{'color':3 == item.status?'#A7A7A7':'inherit'}">{{item.startTime | dateFormat('yyyy.MM.dd')}}-{{item.endTime | dateFormat('yyyy.MM.dd')}}</p>
                        <p style="color:#228b22;" v-if="item.limitAmount>0 && item.status==1">满{{item.limitAmount}}元可使用</p>
					</div>
					<div v-if="item.status==1" style="padding:5px 15px 5px 5px;line-height: 80px">
						 <div class="padding10_0">
                            <span class="circle_v3" :class="{'circle_v3_hover':index == selCoupon}"></span>                           
                        </div>
					</div>
				</div>
				  	<footer class="footer address_foot">
            			<div class="weui-flex">
            				<div class="weui-flex__item footer-cancel">
	                     		<p @click="cancel()">返回</p>
	                 		</div>
                			<div @click="useCoupon" class="weui-flex__item footer-confirm">
                    			<p>确定</p>
                			</div>
            			</div>
      			 	</footer>
			</section>
			<!--没有数据的情况-->
			<section v-show="tab == 1">
				<div v-show="coupons.length==0" class="weui-weixin-img" style="text-align:center;">
                    <img class="weixin" width="80" style="padding:20px 0" src="/img/not-coupon.png" />
                    <p style="color: #cdcdcd;font-size:18px">抱歉,您暂时无可用优惠券！</p>
                    <br />                      
                </div>
			</section>
			<section v-show="tab == 2">
				<div class="bg-f" style="margin-top:15px;text-align:center;padding:30px;">
					<div style="font-size:16px;">优惠券兑换</div>
					<input type="number" class="weui-input" style="margin-top:10px;height:50px;border:1px solid #eee;font-size:18px;padding-left:15px;box-sizing:border-box;" placeholder="请输入8位券号" v-model="coupon_input" maxlength="8" >
					<a href="javascript:;" @click="checkCoupon()" class="weui-btn weui-btn_primary" style="margin-top:15px;background-color:#15CA5F;">确定</a>
					<a @click="cancel()" href="javascript:;" class="weui-btn weui-btn_default">返回</a>
				</div>
			</section>
        </div>
    </div>
</section>
</template>
