<!DOCTYPE html>
<html>
<head>
    <title>球包通</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/assets/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="{{{/css/main.min.css}}}">
</head>
<body ontouchstart class="bg-white">
<div class="container bg-white">
<div class="header tex-c" style="background-color:#fff;">
  <a href="index.html" class="back"><img src="/img/back.png" /></a>
  用户注册协议
</div>
<div class="scroll">
<article class="weui_article font14 marhead" id="vipagreement">
<section>
球包通为向球包通会员所提供服务，特制定《球包通会员服务协议》（以下称为本协议）如下。
</section>
<section>
    <h1>第一条 总则</h1>
    <ul>
        <li>1.1 球包通的所有权和运营权归上海格灵信息科技有限公司所有。</li>
        <li>1.2 本协议用于规定球包通会员的资格、权利和义务。另有《球包通会员服务协议实施细则》（以下称为实施细则）规定具体实施办法及相关条款的解释。本协议和实施细则为一体，不得分别解释。</li>
    </ul>
</section>
<section>
    <h1>第二条 会员资格</h1>
    <ul>
        <li>2.1 申请球包通会员者必须是球包通的用户。</li>
        <li>2.2 经过本人申请，认真阅读并接受本协议后方可申请注册为球包通会员。</li>
        <li>2.3 用户一经注册成为球包通会员，即被视为同意并接受本协议。会员按规定缴纳会费。已缴纳会费不论何种理由，均不退还。</li>
        <li>2.4 会员注册采用申告制。用户须承诺使用实名、正式住址以及所属手机号码登记注册信息。如用户登记虚假身份信息、或使用不完全、或过时信息注册，则须承担由此引起的所有后果以及相关责任（包括所有与此相关的法律责任），球包通将保留追究该用户法律责任的权利。</li>
    </ul>
</section>
<section>
    <h1>第三条 用户帐号</h1>
    <ul>
        <li>3.1 经球包通网站（以下称为本站）本站规定的登记手续完成注册成为会员后，即获得本站发行的会员账号，享有会员的权限并承担本协议以及实施细则规定的义务。球包通有权对会员的权限设置进行变更。</li>
        <li>3.2 会员有义务妥善保管会员的账号和密码，并承担使用该账号和密码所进行的一切活动引起的后果的全部责任，本站不承担会员的行为所造成的后果的任何责任。</li>
        <li>3.3 如会员发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改密码并妥善保管，并及时通知本站。因黑客行为或用户的保管疏忽导致帐号非法使用，本站不承担任何责任。</li>
        <li>3.4 如因会员登记时提供的个人信息有任何错误、不实或不完整，或球包通有合理有合理的理由怀疑前述资料包含不实内容、或不完全时，球包通有权暂停或终止您的帐号，并拒绝您于现在和未来使用球包通全部或部分的服务。</li>
    </ul>
</section>
<section>
    <h1>第四条 服务</h1>
    <ul>
        <li>4.1 球包通按照本协议以及实施细则向会员提供服务。</li>
        <li>4.2 球包通有权在必要时修改服务条款。用户应当及时关注并同意本站不承担通知义务。本站的通知、公告、声明或其它类似内容是本协议的一部分。</li>
        <li>4.3 会员可根据本协议以及实施细则的规定使用球包通提供的服务。</li>
        <li>4.4 会员账号只供本人使用，除有特殊说明时以外，享受服务的对象仅为会员本人。</li>
        <li>4.5 如会员在使用会员身份为自身以外的任何人享受面向会员的球包通服务，或者利用球包通业务赚取他人费用差价，或其他违反本协议以及实施细则规定的行为，或球包通有合理的理由怀疑前述事项为实，球包通有权暂停或终止该会员的帐号，并可拒绝其于现在和未来使用球包通全部或部分的服务。并保留保留追究相关法律责任的权力。
        <li>4.6 除有特殊说明时以外，会员在享受会员服务待遇时，不得再同时享受球包通的其他优惠和减价服务。</li>
        <li>4.7 会员有义务接收球包通通过事先得到会员同意的方式提供的广告或其他商业信息。</li>
    </ul>
</section>
<section>
    <h1>第五条 网站使用</h1>
    <ul>
        <li>5.1 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。</li>
        <li>5.2 会员对其自行发表、上传或传送到本站的内容负全部责任，所有用户不得在本站任何页面发布、转载、传送含有下列内容之一的信息，否则本站有权自行处理并不通知会员：</li>
        <li>(1)违反宪法确定的基本原则的；</li>
        <li>(2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；</li>
        <li>(3)损害国家荣誉和利益的；</li>
        <li>(4)煽动民族仇恨、民族歧视，破坏民族团结的；</li>
        <li>(5)破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
        <li>(6)散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
        <li>(7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
        <li>(8)侮辱或者诽谤他人，侵害他人合法权益的；</li>
        <li>(9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</li>
        <li>(10)以非法民间组织名义活动的；</li>
        <li>(11)含有法律、行政法规禁止的其他内容的。</li>
        <li>5.3 会员承诺对其发表或者上传于本站的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如会员违反本条规定造成本站被第三人索赔的，会员应全额补偿本站一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)。</li>
        <li>5.4 当第三方认为会员发表或者上传于本站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本站发送权利通知书时，会员同意本站可以自行判断决定删除涉嫌侵权信息，除非会员提交书面证据材料排除侵权的可能性，本站将不会自动恢复上述删除的信息。</li>
        <li>(1)不得为任何非法目的而使用网络服务系统；</li>
        <li>(2)遵守所有与网络服务有关的网络协议、规定和程序；</li>
        <li>(3)不得利用本站进行任何可能对互联网的正常运转造成不利影响的行为；</li>
        <li>(4)不得利用本站进行任何不利于本站的行为。</li>
        <li>5.5 如会员在使用网络服务时违反上述任何规定，本站有权要求会员改正或直接采取一切必要的措施(包括但不限于删除注册会员张贴的内容、暂停或终止注册会员使用网络服务的权利)以减轻会员不当行为而造成的影响。</li>
        <li>5.6 球包通有权在必要时修改服务条款。球包通服务条款一旦发生变动，将会在重要页面上提示所修改的内容。如果不同意所改动的内容，会员可以主动取消获得的会员资格。如果会员继续享用VIP服务，则视为接受服务条款的变动。球包通保留随时修改或中断服务而不需照知会员的权利。球包通行使修改或中断服务的权利，不需对会员或第三方负责。</li>
    </ul>
</section>
<section>
    <h1>第六条 隐私保护</h1>
    <ul>
        <li>6.1 本站不对外公开或向第三方提供特定会员的注册资料及会员在使用网络服务时存储在本站的非公开内容，但下列情况除外：</li>
        <li>(1)事先获得会员的明确授权；</li>
        <li>(2)根据有关的法律法规要求；</li>
        <li>(3)按照相关政府主管部门的要求；</li>
        <li>(4)为维护社会公众的利益；</li>
        <li>(5)保持维护球包通的商标所有权；</li>
        <li>6.2 本站可能会与第三方合作向会员提供相关的网络服务，在此情况下，如该第三方同意承担与本站同等的保护会员隐私的责任，则本站有权将会员的注册资料等提供给该第三方。</li>
        <li>6.3 在不透露特定会员隐私资料的前提下，本站有权对整个会员数据库进行分析并对会员数据库进行商业上的利用。</li>
    </ul>
</section>
<section>
    <h1>第七条 版权声明</h1>
    <ul>
        <li>7.1 球包通对其发行的或与合作公司共同发行的包括但不限于产品或服务的全部内容及球包通网站拥有版权等知识产权受法律保护。未经本公司书面许可，任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</li>
        <li>7.2 本站特有的标识、版面设计、编排方式等版权均属球包通享有，未经本站许可，不得任意复制或转载。</li>
        <li>7.3 使用本站的任何内容均应注明“来源于球包通”及署上作者姓名，按法律规定需要支付稿酬的，应当通知本站及作者及支付稿酬，并独立承担一切法律责任。</li>
        <li>7.4 本站享有所有作品用于其它用途的优先权，包括但不限于网站、电子杂志、平面出版等，但在使用前会通知作者，并按同行业的标准支付稿酬。</li>
        <li>7.5 本站所有内容仅代表作者自己的立场和观点，与本站无关，由作者本人承担一切法律责任。 </li>
        <li>7.6 恶意转载本站内容的，本站保留将其诉诸法律的权利。</li>
    </ul>
</section>
<section>
    <h1>第八条 责任声明</h1>
    <ul>
        <li>8.1 会员完全同意其使用本站网络服务所存在的风险及一切后果将完全由会员本人承担，球包通对此不承担任何责任。</li>
        <li>8.2 本站无法保证网络服务一定能满足会员的要求，也不保证网络服务的及时性、安全性、准确性。</li>
        <li>8.3 本站不保证为方便会员而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本站实际控制的任何网页上的内容，本站不承担任何责任。</li>
        <li>8.4 对于因不可抗力或本站不能控制的原因造成的网络服务中断或其它缺陷，本站不承担任何责任，但将尽力减少因此而给会员造成的损失和影响。</li>
        <li>8.5 对于本站向会员提供的服务的质量缺陷本身及其引发的任何损失，本站无需承担任何责任。</li>
        <li>8.6 本站有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本站对注册会员和任何第三人均无需承担任何责任。</li>
    </ul>
</section>
<section>
    <h1>第九条 其他</h1>
    <ul>
        <li>9.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律，由上海格灵信息科技有限公司所在地人民法院管辖。  </li>
        <li>9.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</li>
        <li>9.3 会员费一经缴纳，不因任何原因退回或减收。会员资格终止，费用不退回或减收。</li>
        <li>9.4 本协议解释权及修订权归上海格灵信息科技有限公司。</li>
    </ul>
</section>
</article>
<article class="weui_article font14 marhead" id="vipagreement2">
<section>
《球包通会员服务协议实施细则》（以下称为本细则）作为《球包通会员服务协议》（以下称为本协议）的附属文件，与本协议共同说明球包通向会员提供服务的具体实施方式。
</section>
<section>
    <h1>第一条 适用范围</h1>
    <ul>
        <li>1.1 本细则适用于本协议所描述的向球包通会员提供的服务的具体实施方式和标准。</li>
        <li>1.2 本细则将规定球包通会员的类别、注册方式、服务对象、服务内容、费用标准、禁止和处罚事项等。</li>
    </ul>
</section>
<section>
    <h1>第二条 会员类别</h1>
    <ul>
        <li>2.1 球包通用户经过本人申请并按后述手续，即可成为会员。购买不同的会员卡，所享受的会员权益及义务也不相同。</li>
        <li>2.2 球包通会员卡共有2种不同卡种，分别为名士卡和畅享卡，用户可根据自身需求选择。</li>
        <li>2.3 畅享卡只有网络虚拟卡，不发放实体卡。</li>
        <li>2.4 会员可享受后述各项服务并承担由此产生的义务。</li>
    </ul>
</section>
<section>
    <h1>第三条 会员注册</h1>
    <ul>
        <li>3.1 球包通用户在球包通网站或公众号上，以个人申告方式使用实名（本人的姓名、性别、身份证号码、住址、手机电话号码以及其他规定信息）登记申请、缴纳所定会费，并经球包通核准后，既可注册称为会员。</li>
        <li>3.2 会员须保证登记所使用个人信息完整真实、不含虚假信息、不含已过时信息。</li>
        <li>3.3 会员注册成功后，球包通将赋予其会员账号。</li>
        <li>3.4 会员卡在付款后可选择当即激活生效，也可以选择暂不激活，球包通会给予一个激活码，需要激活时致电400-609-0990进行开通。</li>
    </ul>
</section>
<section>
    <h1>第四条 会费</h1>
    <ul>
        <li>4.1 球包通会员卡共有两种卡种，年费分别为：名士卡2000元，畅享卡3999元。</li>
        <li>4.2 下一年的年费可以提前缴纳。</li>
        <li>4.3 年费一旦缴纳，任何原因都概不退款。</li>
    </ul>
</section>
<section>
    <h1>第五条 服务对象和内容</h1>
    <ul>
        <li>5.1 根据球包通的业务内容，规定服务对象为高尔夫球包。</li>
        <li>5.2 球包通所提供服务内容为根据会员要求运送高尔夫球包。</li>
    </ul>
</section>
<section>
    <h1>第六条 会员有效期</h1>
    <ul>
        <li>6.1 球包通会员卡在激活后，有效期为1年。</li>
        <li>6.2 有效期满后，会员将自动转为普通会员，不再享受会员待遇。在期满前或期满后，都可以通过缴纳下一年年费的方式来续费，以继续享有原有权益。</li>
        <li>6.3 会员卡一经激活，权益期间用户不得以任何原因暂停会员卡服务，并往后顺延要求暂停时间作为补偿。</li>
    </ul>
</section>
<section>
    <h1>第七条 会员服务</h1>
    <ul>
        <li>7.1 球包通会员卡-名士卡：
            <ul>
                <li>(1)除新疆、西藏、内蒙、港澳台地区外，国内每一次托运球包只需支付50元。</li>
                <li>(2)50元仅为球包托运费用，不包括个别偏远球场额外收取的偏远费用，以及保价费用。
                </li>
                <li>(3)该卡仅限会员本人使用。</li>
                <li>(4)每次寄包仅有一个且必须为会员自己的球包享受50元优惠，其它一单寄出的包仍按原价。</li>
            </ul>
        </li>
        <li>7.2球包通会员卡-畅享卡权益：
            <ul>
                <li>(1)激活后，在24小时内赠送6张价值为299元的快递球包券至个人账号下，可在使用“球包通”球包托运服务时抵扣下单金额，且该券不限制使用人。</li>
                <li>(2)从激活当日开始一年有效期内，享有无限次24小时加急到达服务（周末、节假日、双11除外），承诺必须在24小时内送达（不包含西藏、新疆和港澳台地区，以及黑龙江、青海、吉林、内蒙古、宁夏、云南和甘肃的部分地区）。此处的加急时效服务，下单前就需告知，下单完成后的加急不再此服务内。加急时效服务寄件必须在当日12:00前下单。如因不可抗力造成的延误，球包通不承担任何责任。</li>
                <li>(3) 从激活当日开始一年有效期内，在使用“球包通”托运服务时，每次均赠送一万元保价，且在一年有效期内无次数限制。</li>
            </ul>
        </li>
        <li>
           7.3 上述权益中，除有特别说明以外的权益，均仅限本人使用。且会员卡已经购买或已经发送激活码后，均不支持退卡和退款。
        </li>
        <li>
          7.4 限本人使用的权益，在下单时，收件人和寄件人的名字和手机号必须为本人。每张会员卡仅限一人一包。如同时拥有两张会员卡，每次下单时只能享受一张卡的权益。
        </li>
        <li>
           7.5 会员在快递球包中，如发现为非会员本人快递球包及收取件人的一方不是会员本人，则客户必须支付相对应权益中赠送部分的费用，才能继续享受球包通快递服务。如拒付，球包通将退回相应球包，并由客户负担所发生的取包以及其他相关费用，在会员支付所定相关费用后才能继续享受球包通快递服务。
        </li>
    </ul>
</section>
<section>
    <h1>第八条 违反和处分</h1>
    <ul>
        <li>8.1 在会员出现上述使用违反事实时，球包通可视情节轻重给予该会员以警告、暂停服务、直至停止会员资格的处分。</li>
        <li>8.2 会员资格被停止期间或取消后，该会员不得享受会员待遇。</li>
        <li>8.3 若因会员违反球包通服务协议，而被取消会员资格，已缴纳会费，不退还。</li>
    </ul>
</section>
<section>
    <h1>第九条 会员信息的更改</h1>
    <ul>
        <li>9.1 会员客户在会员有效期间可更改一次注册的手机号码。</li>
        <li>9.2 会员申请更改注册的手机号码，须按规定提供有效的电话号码所有者有效证明文件以及身份认证证明。</li>
        <li>9.3 会员遗失用户账号、密码或者需要更改注册信息时，须按规定提供身份认证证明，在确认确实为会员本人时，方可更改。</li>
        <li>9.4 为确保会员个人信息的安全，在申请更改期间，会员账户将暂停使用。</li>
    </ul>
</section>
<section>
    <h1>第十条 会员的延误与保价赔偿规则</h1>
    <ul>
        <li>10.1 会员使用加急时效权益时，如果出现延误的情况，按照订单费用全额退款。</li>
        <li>10.2 会员因为“球包通”球包托运服务期间，出现损坏的，按照最高一万元保价金额赔付。</li>
        <li>10.3 保价仅针对及赔偿球杆的损坏，球包损坏、球杆遗失等不在保价范围之内。</li>
    </ul>
</section>
<section>
    <h1>第十一条 其他</h1>
    <ul>
        <li>11.1 本细则与本协议为一体，不得单独解释。</li>
        <li>11.2 球包通有权利在不减少已承诺的义务的前提下随时更新本细则，用户应当及时关注并同意本站不承担通知义务。本站的通知、公告、声明或其它类似内容是本细则的一部分。</li>
        <li>11.3 本细则的解释权归球包通所有。</li>
    </ul>
</section>
</article>
</div>
</div>
</body>
<script src="/assets/js/zepto.min.js"></script>
</html>
