<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-controller="activityIndexCtrl">
        <div class="container containerWidthAuto">
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-inline applyCheckSearch">
                        <div class="form-group marginRight5">
                            <label for="search">活动名称：</label>
                            <input ng-model="activityName" type="search" class="form-control" id="search" placeholder="输入活动名称">
                          </div>
                          <div class="form-group marginRight5">
                            <button id="search" class="btn btn-primary" ng-click="getList()">搜索</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="toActivity()">新增</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <th>活动名称</th>
                            <th class="qbt-font6">券码开始时间</th>
                            <th class="qbt-font6">券码结束时间</th>
                            <th class="qbt-font6">活动开始时间</th>
                            <th class="qbt-font6">活动结束时间</th>
                            <th>暗号</th>
                            <th class="qbt-font6">个人领取次数</th>
                            <th>规则名称</th>
                            <th class="qbt-font5">优惠券数量</th>
                            <th class="qbt-font4">创建时间</th>
                            <th class="qbt-font5">现金券导出</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list track by $index">
                                <!-- <tr> -->
                                <td><a ng-click="conpunDetail(item.id)" class="fa" href="javascript:void(0)">{{item.name}}</a></td>
                                <td>{{item.startTime | date : 'yyyy-MM-dd'}}</td>
                                <td>{{item.endTime | date : 'yyyy-MM-dd'}}</td>
                                <td>{{item.activityStartTime | date : 'yyyy-MM-dd'}}</td>
                                <td>{{item.activityEndTime | date : 'yyyy-MM-dd'}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.maxPerOne}}</td>
                                <td>{{item.ruleName}}</td>
                                <td>{{item.couponCount}}</td>
                                <td>{{item.createTime | date : 'yyyy-MM-dd'}}</td>
                                <td>
                                    <button ng-click="downloadActivity(item.id)" class="btn btn-primary btn-sm">下载</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination page="page" change="getList(page)"></pagination>
                </div>
            </div>
        </div>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="{{{/js/app.js}}}"></script>
<script src="{{{/js/activityIndexCtrl.js}}}"></script>
</body>
</html>
