<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="advertiseCheckDetailCtrl">
    <div class="container containerWidthAuto">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>图片名称：</label>
                            <input ng-model="name" type="text" class="form-control" placeholder="输入图片名称" maxlength="50">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>广告URL：</label>
                            <input ng-model="url" type="text" class="form-control" placeholder="输入广告URL" maxlength="50">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>顺序：</label>
                            <input type="number" class="form-control" ng-model="number" min="1" placeholder="输入顺序">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>类型：</label>
                            <select class="form-control" ng-model="type">
                                <option value="">请选择</option>
                                <option value="wx">微信</option>
                                <option value="pc">PC</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>位置：</label>
                            <select class="form-control" ng-model="position">
                                <option value="">请选择</option>
                                <option ng-repeat="seats in advertise_seat" value={{seats.type}}>
                                    {{seats.desc}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>图片上传：</label>
                        <button ngf-select="uploadImg($file)" class="btn btn-primary btn-xs">选择</button><br>
                        <label class="label label-primary">(首页广告位图片尺寸(px)：600*120)</label>
                        <label class="label label-primary">(设置广告位图片尺寸(px)：600*376)</label>
                        <label class="label label-primary">(球场广告位图片尺寸(px)：600*328)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="addAdv()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-if="!!image" class="row">
                    <div class="col-sm-12">
                        <img class="img-responsive form-control marginAuto heightAuto" ng-src="{{fBaseUrl + image}}">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
        
        

<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/angular/ng-file-upload-all.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="{{{/js/app.js}}}"></script>
<script src="{{{/js/advertiseCheckDetailCtrl.js}}}"></script>
</body>
</html>
