<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="courseUserCheckCtrl">
<div class="container containerWidthAuto">
    <div class="row">
    	<div class="col-sm-12">
	        <form class="form-inline applyCheckSearch">
	            <div class="form-group marginRight5">
				    <label>姓名：</label>
				    <input ng-model="nameSelect" type="search" class="form-control marginRight5" placeholder="输入姓名">
                    <label>站点名称：</label>
                    <input ng-model="courseSelect" type="search" class="form-control marginRight5" placeholder="输入站点名称">
				    <label for="mobile">手机号：</label>
                    <input ng-model="mobileSelect" type="search" class="form-control" maxlength="11" placeholder="输入手机号">
                  </div>
                  <div class="form-group">
                    <button id="search" class="btn btn-primary" ng-click="getList()">搜索</button>
                </div>
	        </form>
    	</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>姓名</th>
                    <th>站点名称</th>
                    <th>类型</th>
                    <th>昵称</th>
                    <th>性别</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>创建时间
                        <!-- <i ng-click="desc=!desc" ng-show="desc===1" class="fa fa-sort"></i>
                        <i ng-show="desc!==1" ng-click="desc=!desc" class="fa fa-sort" ng-class="{'fa-sort-asc':desc,'fa-sort-desc':!desc}"></i>| orderBy: 'createTime':desc" -->
                    </th>
                    <th>状态</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                    <!-- <tr> -->
                        <td>{{item.name}}</td>
                        <td>{{item.siteName}}</td>
                        <td>{{item.type | commFilter : 'apply_type'}}</td>
                        <td>{{item.userWeixinNickName}}</td>
                        <td>{{item.userWeixinSex == 1 ? '男' : '女'}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.createTime | date :'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <label ng-if="item.status == 1" class="label label-warning">审核中</label>
                            <label ng-if="item.status == 2" class="label label-primary">审核通过</label>
                            <label ng-if="item.status == 3" class="label label-danger">审核不通过</label>
                            <label ng-if="item.status == 4" class="label label-default">禁用</label>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="toDisable(item.id)" ng-show="item.status == 2">禁用</button>
                            <button class="btn btn-success btn-sm" ng-click="toEnable(item.id)" ng-show="item.status == 4">启用</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination page="page" change="getList(page)"></pagination>
        </div>
    </div>
</div>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/angular/angular.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="{{{/js/app.js}}}"></script>
<script src="{{{/js/courseUserCheckCtrl.js}}}"></script>
</body>
</html>
