<template id="bag-applying">
<section>
    <div class="inform-head">
      <label>
        <img src="/img/examine.png">
      </label>
      <p>
        资料审核中
      </p>
    </div>

    <div style="margin-top: 0;">
      <section class="examine">
        <p>我们将在两个工作日之内完成您的资料审核，以后将以微信消息通知您，审核通过后您直接登录即可操作。</p>
      </section>
      <div class="weui_cells flex-box mar-t20">
       <a href="tel:4006090990" class="weui_btn weui_btn_primary btn">联系球包通客服</a>
      </div>
      <div class="weui_cells flex-box mar-t20">
       <a href="javascript:locationTo('index.html');" class="weui_btn weui_btn_primary btn">返回球包快递首页</a>
      </div>
    </div>
</section>
</template>
