<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/admin/css/sb-admin-2.css" rel="stylesheet">
  <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="{{{/css/main.min.css}}}" rel="stylesheet" type="text/css" >
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-controller="srCouponDetailCtrl">
  <div class="container containerWidthAuto">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">基本信息</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>合作方名称：</label>
              <input type="text" class="form-control" ng-model="groupName" placeholder="输入合作方名称" maxlength="15">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>合作开始时间：</label>
              <input type="text" class="form-control date-picker" ng-model="startDate" placeholder="选择开始时间" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>联系人：</label>
              <input type="text" class="form-control" ng-model="name" placeholder="输入联系人" maxlength="10" >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>合作结束时间：</label>
              <input type="text" class="form-control date-picker" ng-model="endDate" placeholder="选择结束时间" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>联系电话：</label>
              <input type="text" class="form-control" ng-model="mobile" onkeyup="keyUpTwoDecimal(this)" placeholder="输入电话" maxlength="15">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">活动配置</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-show="statusId===''">
              <label>包包码：</label>
              <div class="form-inline">
                <label>sr</label><input id="bagCode" type="text" class="form-control" ng-model="bagNum" placeholder="输入包包码" onkeyup="keyUpTwoDecimal(this)" maxlength="3" onblur="checkNum(this)">
              </div>
            </div>
            <div class="form-group" ng-show="statusId!==''">
              <label>包包码：</label>
              <div class="form-inline">
                <label>sr</label><span class="form-control" style="min-width: 150px;">{{bagNo}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-show="statusId===''">
              <label>是否寄件人信息随意：</label>
              <select ng-model="isRandom" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
              </select>
            </div>
            <div class="form-group" ng-show="statusId!==''">
              <label>是否寄件人信息随意：</label>
              <span class="form-control">{{isR===false?"否":"是"}}</span>
              <!--<select ng-model="isRandom" class="form-control" readonly>-->
                <!--<option value="true">是</option>-->
                <!--<option value="false">否</option>-->
              <!--</select>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>券活动名称：</label>
              <select class="form-control" ng-model="award">
                <option ng-repeat="obj in coupon track by $index" value={{obj.id}}>{{obj.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-show="statusId===''">
              <label>是否需要寄件人和收件人一致：</label>
              <select ng-model="isJ" class="form-control">
                <option value="true">是</option>
                <option value="false">否</option>
              </select>
            </div>
            <div class="form-group" ng-show="statusId!=''">
              <label>寄件人和收件人是否一致：</label>
              <span class="form-control">{{isS===false?'否':'是'}}</span>
              <!--<select ng-model="isJ" class="form-control" readonly>-->
                <!--<option value="true">是</option>-->
                <!--<option value="false">否</option>-->
              <!--</select>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" ng-show="statusId!=''">
            <div class="form-group">
              <label>状态：</label>
              <select ng-model="status" class="form-control">
                <option value="1">启用</option>
                <option value="2">禁用</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">合作方机构说明信息</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>合作方备注：</label>
              <textarea class="form-control" ng-model="remark" cols="30" rows="10" maxlength="150"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <button type="button" class="btn btn-lg btn-primary" ng-click="submitSr()">提交</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/jquery/dist/jquery.min.js"></script>
  <script src="/assets/jquery.nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/angular/angular.min.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/layer/layer.js"></script>
  <script src="/assets/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="{{{/js/app.js}}}"></script>
  <script src="{{{/js/srCouponDetailCtrl.js}}}"></script>
</body>
</body>
</html>