<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbt.persistent.mapper.VipTypeMapper">

	<resultMap id="BaseResultMap" type="VipType">
		<id column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="name" property="name" />
		<result column="amount" property="amount" />
		<result column="order_amount" property="orderAmount" />
		<result column="valid_desc" property="validDesc" />
		<result column="valid" property="valid" />
		<result column="status" property="status" />
		<result column="rules" property="rules" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, create_time, update_time, name, amount, order_amount, valid_desc,
		valid, status, rules
	</sql>
	
	<select id="selectById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vip_type
		where id = #{id}
	</select>
	
	<insert id="insert" parameterType="VipType">
		insert into vip_type (
			create_time, 
			update_time,
			name, amount, 
			order_amount,
			valid_desc, 
			valid, 
			status,
			rules
		)
		values (
			#{createTime},
			#{updateTime},
			#{name}, 
			#{amount}, 
			#{orderAmount},
			#{validDesc}, 
			#{valid},
			#{status},
			#{rules}
			
		)
	</insert>
	
	<update id="updateById" parameterType="VipType">
		update vip_type
		<set>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="orderAmount != null">
				order_amount = #{orderAmount},
			</if>
			<if test="validDesc != null">
				valid_desc = #{validDesc},
			</if>
			<if test="valid != null">
				valid = #{valid},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="rules != null">
				rules = #{rules},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="findByPage" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM vip_type 
		<where>
			<if test="condition.name != null and condition.name != ''">
				AND name LIKE CONCAT('%',#{condition.name},'%') 
			</if>
			<if test="condition.status != null">
				AND status = #{condition.status}
			</if>
		</where>
		<choose>
			<when test="orderByColumn != null and orderByType != null">
				ORDER BY ${orderByColumn} ${orderByType}
			</when>
			<otherwise>
				ORDER BY create_time desc 
			</otherwise>
		</choose>
	</select>
		
	<select id="selectByStatus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vip_type
		<where>
			<if test="status != 0 ">
				 status = #{status}
			</if>
		</where>
	</select>
	
	<update id="updateStatus">
	update vip_type set status = #{status}
	</update>
	
	<select id="findByCondition" parameterType="VipType" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> 
		from vip_type
		<where>
			<if test="name != null">
				and name = #{name} 
			</if>
		</where>
	</select>
	
	<select id="findByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vip_type
		where name = #{name}
	</select>
	
	<select id="findOne" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from vip_type
		where status =1 limit 1
	</select>
	
</mapper>
