<!DOCTYPE html>
<html>
<head>
    <title>球包通</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/assets/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="{{{/css/main.min.css}}}">
</head>
<body class="bg" ontouchstart id="app">
<div class="container" id="container">
<div class="pad-b" style="padding-bottom:0px !important;">
    <!--头-->
    <div class="header tex-c bg-white bd-b">
      <a href="setting.html" class="back" ><img src="/img/back.png" /></a>
      联系客服
    </div>
    <!--头 end-->
    <div class="phone-lay tex-c">
      <h1>400 803 0106</h1>
      <p>欢迎拨打球包通免费客服电话</p>
      <a href="tel:4006090990"><img src="/img/phone.png" /></a>
    </div>
</div>
</div>
</body>
</html>
