<template id="vip-detail">
<section class="section bg" id="vip">
<!--头-->
<div class="header tex-c bg-white">
    <a href="javascript:history.back();" class="back"><img src="/img/back.png" /></a>
    会员卡详情
</div>
<div class="scroll marhead">
<div class="weui_cells weui_cells_form mar-t">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">姓名：</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            {{vip.userName}}
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">手机号：</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            {{vip.mobile}}
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">会员卡类型：</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            {{vip.name}}
        </div>
    </div>
    <div class="weui_cell weui_cell_select weui_select_after" @click="updatePic()">
        <div class="weui_cell_hd"><label class="weui_label">指定球包：</label></div>
        <div class="weui_cell_bd weui_cell_primary"></div>
        <img style="width:auto;height:40px;position:absolute;top:5px;right:25px;bottom:5px;" v-if="vip.userImageUrl" :src="fbaseUrl + vip.userImageUrl">
    </div>
    <div class="weui_cell font-green02">
        <div class="weui_cell_hd" style="margin-right:20px;">会员卡价格：{{vipType.amount | currency '￥'}}</div>
        <div class="weui_cell_bd">有效期：{{vipType.validDesc}}</div>
    </div>
</div>

<article class="weui_article bg-white mar-t">
    <section>
        <h3>会员卡属性</h3>
        <div v-html="vipType.rules">
        </div>
    </section>
    <div class="weui_cells weui_cells_checkbox mar-t0">
        <div class="flex">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="display:inline-block;color:blue;" @click="goView('/agreement')">《球包通VIP会员服务协议》</p>
            </div>
        </div>
        <div class="flex">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="display:inline-block;color:blue;" @click="goView('/agreement2')">《球包通VIP会员服务协议实施细则》</p>
            </div>
        </div>
    </div>
</article>
</div>
</section>
</template>
