<!DOCTYPE html>
<html>
<head>
    <title>球包通</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/assets/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="{{{/css/main.min.css}}}">
</head>
<body class="bg" ontouchstart id="app">
<div class="container" id="container">
<div class="pad-b" style="padding-bottom:0px !important;">
  <!--头-->
  <div class="header tex-c bg-white bd-b">
    <a href="javascript:;" class="back" ><img src="/img/back.png" /></a>
    常见问题
  </div>
  <!--头 end-->
  <div class="scroll">
<!-- <div class="marhead tex-c question">
  <div class="weui_cells_title"><h3>产品服务</h3></div>
  <div class="flex ">
    <div class="flex-1" style="background-image: url('/img/about-icon01.png');">
      <label>明日达</label>
      <p>当日中午12点前寄，<br />第二天中午12：00之前到达。</p>
    </div>
    <div class="flex-1" style="background-image: url('/img/about-icon02.png');">
      <label>明午达</label>
      <p>当日18：00之前寄，<br />明日到达。</p>
    </div>
    <div class="flex-1" style="background-image: url('/img/about-icon03.png');">
      <label>后日达</label>
      <p>当日18：00之前寄，<br />后日到达。</p>
    </div>
  </div>
</div> -->

  <div class="question-list tex-c">
    <h3>常见问题</h3>
    <ul class="tex-l">
      <li>
        <a href="javascript:;">"球包通"是什么？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
            “球包通”是顺丰旗下专业高尔夫球包快递服务品牌，为高尔夫运动人群提供一种“去打球不用亲自携带球包、打完球不用亲自带走球包”的高尔夫服务全新体验。
    “球包通”的目标是成为“中国最好的球包搬运工”和“个性化快递服务第一品牌”。
        </div>
      </li>
      <li>
        <a href="javascript:;">我的球包将会由谁来进行运送？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
      顺丰速运承担主要的球包运输服务。
        </div>
      </li>
      <li>
        <a href="javascript:;">我该如何下单？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
          1）微信公众号下单：需关注我们的微信公众号"球包通"，点击按钮【球包通】-【球包通快递】，即可根据提示进行下单操作。<br />
    2）电话下单：拨打我们的服务热线：400-609-0990，我们的客服就能帮助您进行下单，下单后需要您可以选择通过球包通微信公众号进行订单支付费用。
        </div>
      </li>
      <li>
        <a href="javascript:;">“球包通”覆盖的范围和区域？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
          目前球包通服务已覆盖全国范围（包含港、澳、台地区）。<br />
    收取球包的站点包含：球场、酒店，住家、办公室及全国各大机场。
        </div>
      </li>
      <li>
        <a href="javascript:;">“球包通”是怎么收费的？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
          球包运输费用按球包件数来收费，根据不同运输距离而不同。<br />
            具体价格您可进入“球包通”微信公众号－【快递球包】－【寄球包】，输入寄、收包的城市和地区，即可查看。
        </div>
      </li>
      <li>
        <a href="javascript:;">我的球包需要什么包装吗？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
     您无需自己包装球包，快件员取回您的球包后会按照规范做保护包装
        </div>
      </li>
      <li>
        <a href="javascript:;">我的球包里能放防晒霜吗，有什么物品不能邮寄吗？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
     如果是涉及航空服务，根据规定，液体、膏状物品（防晒霜、Mark笔等），磁性物品（带磁的MARK、果岭叉、球杆套等），
     含锂电池的电子产品（测距仪等），以及打火机、纸币及硬币等均不能随包寄出，还望各位球友谅解
        </div>
      </li>
      <li>
        <a href="javascript:;">下单后什么时候来取？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
            一般会在三个小时之内上门取包，您也可以在下单时选择预约取包时间，我们会根据您选择的时间安排快递员上门取包。
      您可以把球包放在球场前台，出发台，酒店礼宾部，或者您的住宅小区的保安室。我们的服务人员回按照要求定时把球包取走。
        </div>
      </li>
      <li>
        <a href="javascript:;">我的球包需要几天到达球场？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
      一般在寄件后次日能够到达，偏远地区需要多增加一天。如果是偏远地区的球场或者地址，建议您在打球时间提早两天预约取包
        </div>
      </li>
      <li>
        <a href="javascript:;">预约取包是如何操作的？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
      为了让您寄包更加方便，我们在每个下单页面中都加入了“预约寄球包”的选项，您可以选择一个您最方便寄包的时间段，快递员
      就会在您预约的时间内上门收包了。
        </div>
      </li>
      <li>
        <a href="javascript:;">我的球包飞哪儿了？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
      您在下单后，可以通过【我的服务】—【个人中心】—【我的订单】，查看您的球包“旅程”。如果发现物流详情没有更新，不用担心，请立即拨打我们的免费服务电话，客服MM会帮您查看您球包的最新物流情况。
        </div>
      </li>
      <li>
        <a href="javascript:;">什么是保价？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
            保价就是给您的球包买个“保险”，让您在寄球包时更安心哦~球包通为用户提供保价服务，最高声明价值可至30万元。您可自行根据球包价值进行自主保价，如您的球包价值超过30万元，可致电客服进行人工保价。
            高尔夫球包为贵重物品，为了保障球包安全，建议您对价值较高的球包进行自主保价。
        </div>
      </li>
      <li>
        <a href="javascript:;">保价如何收费？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
<!--         （1）用户寄送球包不保价时，球包通赠送2,000元人民币保价金额。<br> -->
        （1）保价费正常是收取千分之五，目前球包通按照优惠费率千分之三收取。
        </div>
      </li>
      <li>
        <a href="javascript:;">球包丢失或损坏，怎么处理？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
            球包通会全力保障球包安全，球包遗失或损坏，会由同事调查核实快件的详细情况并回复您做后续处理；如果已经出现遗失或者损坏，可以拨打我们服务热线400-609-0990，客服MM会为您反馈处理哦！
        </div>
      </li>
      <li>
        <a href="javascript:;">球包遗失、球杆损坏了，如何进行理赔？</a>
        <div class="weui_cell_ft">
        </div>
        <div class="question-mian">
            购买保价，可根据球包鉴定的实际价值，在保价金额内，赔偿损失金额；未购买保价，可获得不超过订单费用一倍的球包快递券。若非球包通责任，则不对损失进行赔偿。
        </div>
      </li>
    </ul>
  </div>

</div>
</div>
</div>
</body>
<script src="/assets/js/zepto.min.js"></script>
<script>
$(".question-list li").click(function(){
      $(".question-mian").css("display","none");
      $(".weui_cell_ft").css("transform","rotate(0deg)")
      $(this).children(".question-mian").toggle();
      if($(this).children(".question-mian").css("display") == "block" ){
        $(this).children(".weui_cell_ft").css("transform","rotate(180deg)")
     };
});
$('.back').on('click',function(){
    if(history.length>1){
        history.back();
    }else{
        WeixinJSBridge.call('closeWindow');
    }
});
</script>
</html>
